body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
}

.header-container {
    display: flex;
}

.nav-list {
    display: flex;
    column-gap: 40px;
    margin-left: 76px;
}


.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;;
    padding: 24px 0;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    column-gap: 40px;
    margin-left: auto;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    margin-left: auto;
    display: block;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.nav-link:hover::after {
    content: "";
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
}

.hero {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
    text-align: center;
    margin: 0 auto;
}

.hero h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 16px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    transition: 250ms;
    background-color: #404bbf;
}

.features h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
}

.features p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.features-list {
    display: flex;
    column-gap: 24px;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.item-link {
    height: 64px;
    width: 60px;
    display: block;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
}

.features-icon {
    fill: #2e2f42;
}

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.accent {
    color: #4d5ae5;
}

.team-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    background-color: #fff;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}

.team-member-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-member-role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    padding-bottom: 8px;
}

.social-list {
    display: flex;
    column-gap: 24px;
}

.social-item-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover {
    background-color: #404bbf;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.team-card-content {
    padding: 32px 16px;
    text-align: center;
}

.team-card-content h3 {
    padding-bottom: 8px;
}

.team-title {
    padding-bottom: 72px;
    line-height: 1.11;
}

.team-list {
    display: flex;
    column-gap: 24px;
}

.team {
    padding-bottom: 120px;
}

.team-list-item {
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    border-radius: 0 0 4px 4px;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-item-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-type {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-content h3 {
    margin-bottom: 8px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-card-content:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item p {
    padding-top: 8px;
}

.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.page-footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 16px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.page-footer p {
    width: 264px;
}

.page-footer h2 {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}